<p id="notice"><%= notice %></p>
<div class = listingGenres>
<h1>Browse Genres</h1>

<table>
  <thead>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  
  </thead>


</table>
<br>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= link_to "Browse Focus Playlists", focus_path %>
      <img src="/assets/focus.jpg" style="margin-left: 500px;">
    </div>
    <div class="item">
       <%= link_to "Browse Relaxation Playlists", new_playlist_path %>
      <img src="/assets/relaxation.jpg" style="margin-left: 500px;">
    </div>
     <div class="item">
            <%= link_to "Browse Sleep Playlists", new_playlist_path %>
      <img src="/assets/sleep.jpg" style="margin-left: 500px;">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


</div>