<p id="notice"><%= notice %></p>

<p>
    <strong>Focus Playlists</strong>
</p>

<p>
  <strong>Title:</strong>
<% if @playlists %>

<% end %>
</p>
<%= link_to 'New Song label', new_song_label_path %>

