<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @playlist.title %>
</p>


<%= link_to 'Edit', edit_genre_playlist_path %> |
<%= link_to 'Back', genre_playlists_path(genre_id: @genre.id) %>
